@import './variables.scss';

.flex {
  display: flex;
}

.justify-around {
  justify-content: space-around !important;
}

.flex-row {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

@mixin hover-link-success {
  border: 2px dashed $borderColor;
  border-radius: 2rem;
  &:hover {
    color: $successColor;
    border: 2px solid $borderColor;
    transition: all 0.3s ease 0s;
  }
}
