@import './variables.scss';

.flex {
  display: flex;
}

.justify-around {
  justify-content: space-around !important;
}

.flex-row {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

@mixin hover-link-success {
  border: 2px dashed $borderColor;
  border-radius: 2rem;
  &:hover {
    color: $successColor;
    border: 2px solid $borderColor;
    transition: all 0.3s ease 0s;
  }
}

@mixin block-link-base {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    input {
      border: 1px solid $borderColor;
      border-radius: 0.5rem;
      padding: 0.5rem;
      width: 80%;
      margin-bottom: 1rem;
    }
  }
  a {
    display: inline-block;
    padding: 0.5rem;
    width: 80%;
    @include hover-link-success;
    margin: .5rem 0;
  }
  .icon {
    margin-right: 1rem;
  }
}